
</div>
<div class="footer-padding"></div>
<footer class="footer mt-auto">
  <p class="content">Made with ❤️ by The Deep Into Cosmos</p>
  <hr>
  <p id="copyright">© Copyright 2022 | CW</p>
</footer>
</body>
</html>
